@font-face {
   font-family: harryp;
   src: url(../fonts/HARRYP.TTF);
}
.title h1{
   font-family: harryp;
   color: white;
   text-align: right;
   font-size: 40px;
}
body {
	background-color: #001;
	background-image: url("http://vignette2.wikia.nocookie.net/harrypotter/images/7/73/Dueling_club.JPG/revision/latest?cb=20080813194336");
	background-repeat: no-repeat;
	background-size: 100%;
}
.win, .loss{
	color: red;
}
.container {
}
.wizard, .opponent, .player, .rounds{
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
	text-align: center;
}
.wizard {
	background-color: rgba(0, 0, 0, 0.3);	
}
.opponent {
	background-color: rgba(255, 0, 0, 0.3);
}
.player {
	background-color: rgba(0, 255, 0, 0.3);
}
#charStart, #action, #player-header, #opponent-header {
	color: white;
	font-size: larger;
	text-align: center;
}
#player-header, #opponent-header {
	font-size: x-large;
}
.points, .name {
	clear: both;
	display: block;
	margin: 5px;
}
.imgWiz{
	height: 150px;
	width: 150px
}
.row {
	margin: 15px;
}
.rounds{
	font-family: harryp;
	color: white;
	text-align: center;
}
h1{
	font-family: harryp;
	color: white;
	size: xx-large;
	text-align: center;
}
h3 {
	font-family: harryp;
	color: white;
	size: xx-large;
	text-align: center;
}
p {
	font-family: harryp;
	color: white;
	font-size: x-large; 
	size: xx-large;
	text-align: center;
}